.form{
    background-color: #FFFFFF;
}

input[type = text]{
    margin-top: 12;
}

body{
    background-color: #2D6ED5;
}


.form{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    padding: 3%;
    border-radius: 6px;
    border-color: black;
}